$badge-font-size: 0.75em !default;

@mixin badge($color: $base-accent-color) {
  background-color: $color;
  border-radius: $badge-font-size * 5;
  color: white;
  display: inline-block;
  font-size: $badge-font-size;
  line-height: 1;
  padding: .25em 1em;
}

.badge {
  @include badge;
}
