footer {
    
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

pre {

    margin: 10px 0 20px;
}

/* Syntax Highlighting */
.highlight > pre {
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
}

/* Ensure the Images are responsive */
.article img {
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    max-width: 100%;
}

.article img:first-child:nth-last-child(1) {
    
    max-width: 100%;
}

/* If we have two images, place them side-by-side */
@media(min-width: 768px) {
    
    .article img:first-child:nth-last-child(2),
    .article img:first-child:nth-last-child(2) ~ img {
        
        max-width: 49%;
    }
}
/* Fix long <code> segments breaking word-wrapping */

code {
    
    white-space: normal;
}

/* Handle the Affix'd Table of Contents */

.affix, .affix-top {
    
    position: static;
}

@media screen and (min-width: 992px) {
    
    .affix {
        
        position: fixed;
        top: 20px;
        width: 263px;
        height: 100%;
        overflow: scroll;
    }
    
    .affix-top {
        
        position: absolute;
        top: 0;
        /*top: 80px;*/
        width: 263px;
        /*height: 100%;*/
        overflow: scroll;
    }
}

.toc a {
    
    display: block;
    padding: 2px 10px;
}

.toc ul {
    
    list-style: none;
}

.toc > ul {
    
    padding-left: 0;
}

.toc > ul > li {
    
    font-weight: bold;
}

.toc ul ul {
    
    padding-left: 1.1em;
    font-weight: normal;
}

@media screen and (min-width: 992px) {
    
    .toc .active {
        
        background-color: rgb(66, 139, 202);
        color: white !important;
    }
}

/* Add Chevron to ToC Collapse */
.panel-heading .toc-toggle {
    
    display: block;
}

.panel-heading .toc-toggle:after {
    /* symbol for "open" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";
    float: right;
    color: gray;
}

.panel-heading .toc-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";
}

 /*Headline Styling Overridde */
h1, h2, h3 {
    
    margin-top: 40px;
    margin-bottom: 15px;
}


/* Styling for Sidebar */
.social a[href*='activestate.com']:before {content: url('./images/icons/activestate.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='atom.xml']:before {content: url('./images/icons/rss.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='bitbucket.org']:before {content: url('./images/icons/bitbucket.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='code.google.com']:before {content: url('./images/icons/phosting.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='delicious.com']:before {content: url('./images/icons/delicious.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='digg.com']:before {content: url('./images/icons/digg.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='facebook.com']:before {content: url('./images/icons/facebook.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='github.com']:before {content: url('./images/icons/github.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='gitorious.org']:before {content: url('./images/icons/gitorious.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='google.com/reader']:before {content: url('./images/icons/reader.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='jamendo.com']:before {content: url('./images/icons/jamendo.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='last.fm']:before {content: url('./images/icons/lastfm.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='linkedin.com']:before {content: url('./images/icons/linkedin.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='rss.xml']:before {content: url('./images/icons/rss.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='stackoverflow.com']:before {content: url('./images/icons/stackoverflow.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='twitter.com']:before {content: url('./images/icons/twitter.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='slid.es']:before {content: url('./images/icons/slides.png'); margin-right: 5px; vertical-align: -3px;}

.links a[href*='subblime.com']:before {content: url('./images/icons/subblime.png'); margin-right: 5px; vertical-align: -3px;}
