@import "neat/neat";

// Bootstrap Ports

.navbar {
    display: none;
}

.container {

    @include outer-container();
}

.content {

    @include pad;
    @include span-columns(12);

    @include media($large-screen) {

        @include pad(0);
        @include span-columns(8);
        @include shift(2);
    }
}

.page-title {

    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;

    &:not(:empty) {

        border-bottom: 1px solid $base-font-color;        
    }

    h1 {

        background: white;
        color: $base-font-color;
        display: inline-block;
        padding: 0 10px;
        position: relative;
        top: 0.5em;
    }
}

// footer {
    
//     padding-top: 40px;
//     padding-bottom: 30px;
//     margin-top: 100px;
//     color: #777;
//     text-align: center;
//     border-top: 1px solid #e5e5e5;
// }
