// Handle the Affix'd Table of Contents

.affix, .affix-top {
    
    position: static;
}

@media screen and (min-width: 992px) {
    
    .affix {
        
        position: fixed;
        top: 20px;
        width: 263px;
        height: 100%;
        overflow: scroll;
    }
    
    .affix-top {
        
        position: absolute;
        top: 0;
        width: 263px;
        overflow: scroll;
    }
}

.toc a {
    
    display: block;
    padding: 2px 10px;
}

.toc ul {
    
    list-style: none;
}

.toc > ul {
    
    padding-left: 0;
}

.toc > ul > li {
    
    font-weight: bold;
}

.toc ul ul {
    
    padding-left: 1.1em;
    font-weight: normal;
}

@media screen and (min-width: 992px) {
    
    .toc .active {
        
        background-color: rgb(66, 139, 202);
        color: white !important;
    }
}

// Add Chevron to ToC Collapse
.panel-heading .toc-toggle {
    
    display: block;
}

.panel-heading .toc-toggle:after {
    // symbol for "open" panels
    font-family: 'Glyphicons Halflings';  // essential for enabling glyphicon
    content: "\e113";
    float: right;
    color: gray;
}

.panel-heading .toc-toggle.collapsed:after {
    // symbol for "collapsed" panels
    content: "\e114";
}
